@import url(cadastroCardapio.css);

/* .conteudo {
    margin-left: 40px;
} */

.tituloCupom {
    font-weight: bold;
    font-size: 25px;
    color: #727272;
    margin-bottom: 20px;
}

.conteudo {
    margin-left: 35px
}

.campoDividido {
    width: 400px;
}