@import url(main.css);

.lista-acompanhamentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.lista-bebidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.lista-sobremesas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.lista-porcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}