@import url(main2.css);

body {
    background-color: #F3F3F3;
}

#limpaCarrinho {
    font-family: 'Cabin', sans-serif;
    background-color: #8C6342;
    color: #fff;
   
    border: none;
    border-radius: 10px;

    padding: 10px 30px;
    margin-top: 8px;
    position: absolute;
    right: 35px;

    transition: transform 0.5s ease;
}

#limpaCarrinho:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all linear 200ms;

    color: #F9EED9;
}

.listaCarrinho {
    /* margin-bottom: 80px; */
    background-color: #F9EED9;
}

.agrupaItemCarrinho {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.agrupaItemCarrinho img {
    height: 280px;
    width: 350px;
    border-radius: 40px;
}

.quantidadeCarrinho {
    width: 30%;
}

.iconeValorCarrinho {
    margin-left: 280px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: #D9D9D9;
}

.fa-solid:hover {
    cursor: pointer;
}

.quantidadeCarrinho {
    font-family: 'Poppins', sans-serif;
}

.info-lanche {
    padding-left: 15px;
}

.info-lanche h2 {
    color: #8C6342;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.descricao {
    font-family: "Signika Negative", sans-serif;
    font-weight: 400;
    color: #979797;
}

.valor {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.aproveiteTambem {
    /* border-radius: 1px solid #000; */
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.aproveiteTambem h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 10px;
}

.listaAproveiteTambem {
    display: flex;

    /* text-align: center; */
}

.produtoListaAproveiteTambem {
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    padding: 15px;
    height: 340px;
    width: 300px;

    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.imgProdutoAproveiteTambem {
    position: relative;

    background-color: #E7E7E7;
    /* text-align: center; */
    border-radius: 5px;
}

.imgProdutoAproveiteTambem img {
    width: 250px;
    /* height: 190px; */
    /* padding-right: 30px; */
}

.iconeMaisAproveiteTambem {
    /* icone não estava aparecendo sob a img, corrigi deicando sua posição absoluta em relação ao elemento pai (elemento pai com position relative)
    * icone não estava aparecendo pois estava sendo posicionado em relação a janela do navegador, utilizando essa "combinação" de comandos, faço com que ele seja posicionao em relação ao conteiner mais proximo com a sua posição definida (posição definida = com seu position diferente do position padrão, neste caso: caixa pai com position: relative) */
    position: absolute;
    bottom: 30px; 
    right: 20px; 
    
    /* z-index: 999; */
    padding: 8px 12px;
    border-radius: 50%;
    background-color: #8C6342;
}

.tituloValorAproveiteTambem {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.tituloValorAproveiteTambem h3 {
    font-size: 17px;
}

.tituloValorAproveiteTambem p {
    font-size: 14px;
}

.descricaoProdutoAproveiteTambem p {
    width: 210px;
    word-wrap: break-word;
    font-size: 13px;
    margin-top: 5px;
}

/* .container2 {
    margin: 20px 30px;
   
} */

.pagamento-e-cupom {
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px;
    border-bottom: 2px solid #ccc;
}

.pagamento-e-cupom h3 {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.pagamento-e-cupom a {
    color: #EC3030;
    font-weight: 700;
}

.pagamento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.img-texto-pagamento {
    display: flex;
}

.textoPagamento p {
    color: #9B9999;
    font-weight: 600;
}

.imgPagamentoCupom {

    width: 70px;
    /* height: 60px; */
    background-color: #D9D9D9;
    border-radius: 50%;
    text-align: center;

    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.imgPagamentoCupom img {
    height: 45px;
}

.cupom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pagamentoCarrinho {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 30px;
}

.valoresCarrinho {
    margin-bottom: 100px;
}

.valoresCarrinho p {
    color: #9B9999;
}

.finaliza {
    text-align: center;
   margin-bottom: 80px;

}

.finaliza h1 {
    display: inline-block;
    color: #FFFFFF;
    background-color: #EC3030;
    border-radius: 10px;
    padding: 10px 50px;

    transition: transform 0.5s ease;
}

.finaliza h1:hover {
    transform: scale(1.05);
    transition: all linear 200ms;
}

#rodape {
    margin-top: 0px;
}