@import url(main.css);

.carrinho {
    margin-top: 30px;
    text-align: center;
    width: auto;
}

.pedido {
    display: flex;
    /* com esse comando o "finalizar" nao fica tao extendido */
    align-items: center;
    /* justify-content: space-evenly; */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    margin-top: 30px;
}

.titulo-pedido, .valor-pedido{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.valor-pedido{
    text-align: center;
}

.img-pedido img {
    width: 150px; 
    height: auto;
}

.detalhes-pedido{
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
}

/* espaçamento entre icones e quantidade de produtos */
.detalhes-icone i,
.detalhes-icone p {
    margin: 0 5px;
}

.detalhes-icone i {
    background-color: #ddd;
    padding: 5px;
    border-radius:5px;
}

.detalhes-icone{
    display: flex;
    justify-content: center;
}

.detalhes-finalizar{
    margin-top: 10px;
}

.finalizar{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #C82727;
    display: inline-block;
    padding: 5px 70px;
    border-radius: 12px;
    color: #fff;
}

