@import url(main2.css);

main {
    background-color: #F8F7F7;
}

/* #container {
    max-width: 1140px;
    margin: 0 auto;
} */

.imgTelaProduto {
    background-color: #FBE7CA;
    text-align: center;
}
.imgTelaProduto img {
    width: 600px;
    height: 500px;
}

#valorNomeTelaProduto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#valorNomeTelaProduto h1 {
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    color: #8C6342;
}

#valorNomeTelaProduto h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 50px;
}

.descricaoTelaProduto {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    color: #979797;
}

.informacoesNutricionais {
    background-color: #fff;
}