@import url(main.css);

.titulos{
    display: flex;
    justify-content: center;
}

.titulo{
    background-color: #fff;
    color: #000;
}

.sobre{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
}

.banner{
    margin-top: 10px;
}

.banner img{
    height: 200px;
    width: 100%;
}
